# Ignore everything
**

# include Yarn 2 configuration, cache, releases and plugins
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarnrc.yml
!.pnp.cjs
!.eslintrc.json

# include workspace
!package.json
!yarn.lock
!bin
!lib
!test

# include metadata files
!VERSION
!Dockerfile
