# Ignore everything
**

# include Yarn 2 configuration, cache, releases and plugins
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions

# include workspace
!.yarnrc.yml
!.pnp.cjs
!.pnp.loader.mjs
!package.json
!yarn.lock
!bin
!lib
!test
!k8s/overlays/dev/secrets

# include metadata files
!VERSION.txt
!Dockerfile
