apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubesail-agent
spec:
  template:
    spec:
      containers:
        - name: kubesail-agent
          command: ["./node_modules/.bin/nodemon", "/app/bin/kubesail-agent"]
          image: kubesail/agent
          env:
            - name: GET_HOSTS_FROM
              value: dns
            - name: LOG_LEVEL
              value: debug
            - name: NODE_ENV
              value: development
            - name: KUBESAIL_API_TARGET
              value: api
            - name: KUBESAIL_AGENT_KEY
              value: locallocallocallocallocallocallo
            - name: KUBESAIL_AGENT_SECRET
              value: locallocallocallocallocallocallo
            - name: APP_ENV
              value: dev
            - name: KUBESAIL_AGENT_INITIAL_ID
              value: "a dev cluster"
          envFrom:
            - secretRef:
                name: agent
          volumeMounts:
            - name: self-signed
              mountPath: /app/secrets
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              cpu: "2"
              memory: 1500Mi
      volumes:
        - name: self-signed
          secret:
            secretName: self-signed
